:root {
    --height: 20%;
    --height-negative: -20%;
}

.card-item {
    position: relative;
    overflow: hidden;
}

.component__bg-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
}

.card {

    &__item {
        position: relative;
        
        &-wrap {
            height: 100%;
            width: 100%;
            position: relative;
            overflow: hidden;
        }
    }

    &__image {
        height: 100%;

        img {
            height: 100% !important;
            width: 100%;
            object-fit: cover;
        }
    }

    &__info { 
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        z-index: 5;

        &--header {
            width: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        &--play-bar {
            display: flex;
            align-items: center;
        }

        .play-bar__title {
            margin-left: .75rem;
        }
        
        .play-bar__play {
            display: flex;
            align-items: center;
        }
    }
}

.card-inner-info--compressed {
    .card__info {
        flex-direction: column;
        bottom: var(--height-negative);

        &--play-bar {
            height: 60px;
            position: relative;
        }

        &--player {
            height: var(--height);
        }

        .play-bar {

            &__wrap {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                overflow: hidden;
            }


            &__buttons {
                height: 100%;
                // width: 30%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transform : translate3d(105%, 0px, 0px);
            
                & > * {
                    padding: 2px 12px;
                }
            }
        }
        
    }
}

.card-inner-info--expanded {
    .card__info {
        bottom: 0px;
 
        &--play-bar {
            width: 35%;
        }

        &--player {
            width: 65%;
        }

        &--player, &--play-bar {
            height: 70px;
        }
    }
}


.post-media {
    display: none;
}


























