/* ==========================
    Carousel                            
/* ========================== */
.main-content__model-2 {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
        content: '';
        height: 100%;
        position: absolute;
        z-index: 1;
    }

    .main-content__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel__item {
        height: 100%;
        position: absolute;
        display: flex;
        overflow: hidden;
        margin: 0px !important;
        transform: translate3d(-99.99%, 0, 0);
    }

    @media screen and (min-width: 960px) {
        .component-info {
            position: relative;
        }
    }
}

.carousel__item {
    flex-direction: row;
}
